body {
  background: url(/images/bg.png);
  background-repeat: repeat;
  background-attachment: fixed;
  // background-size: cover;
  // background-position: 100% 100%;
}
.post-body {
  /*font-family: $font-family-posts;*/
  font-family: "Source Sans Pro","Hiragino Sans GB","Microsoft Yahei",SimSun,Helvetica,Arial,Sans-serif,monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  word-wrap();

  +desktop-large() {
    font-size: $font-size-small;
  }

  span.exturl .fa {
    font-size: $font-size-small;
    margin-left: 4px;
  }

  .image-caption, .figure .caption {
    color: $grey-dark;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
    margin: -20px auto 15px;
    text-align: center;
  }
}

.posts-expand .post-header {
  font-size: $font-size-small;
}
.site-brand-container {
  background-image: url('https://cdn.jsdelivr.net/gh/freelisa/freelisa.github.io@V1.0/images/site/site-brand-bg.gif');
}
.site-meta {
  background:none;
  color: #fff; 
  padding: 20px 0;
}